@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-v6p94a');
    src:url('../fonts/icomoon.eot?#iefix-v6p94a') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-v6p94a') format('woff'),
        url('../fonts/icomoon.ttf?-v6p94a') format('truetype'),
        url('../fonts/icomoon.svg?-v6p94a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-caret:before {
    content: "\e607";
}
.icon-date:before {
    content: "\e606";
}
.icon-youtube:before {
    content: "\e604";
}
.icon-home:before {
    content: "\e608";
}
.icon-facebook:before {
    content: "\e605";
}
.icon-vrata:before {
    content: "\e600";
}
.icon-zvono:before {
    content: "\e601";
}
.icon-upis:before {
    content: "\e602";
}
.icon-kalendar:before {
    content: "\e603";
}
