$color-fg: #615660;
$color-purple-dark: #1e122d;
$color-purple: #5b3982;
$color-teal: #afe9ec;
$color-light: #f4f1f7;
$font-open-sans: 'Open Sans', Arial, Helvetica, sans-serif;
$font-roboto-slab: 'Roboto Slab', Georgia, serif;