html, body {
    height: 100%;
}
body {
    color: $color-fg;
    font-family: $font-open-sans;
    font-size: 16px;
    background: #fff;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.col-1-2 {
    width: 50%;
    float: left;
}
.col-1-3 {
    width: 33.33333333333333%;
    float: left;
}
.col-2-3 {
    width: 66.66666666666666%;
    float: left;
}
.col-1-4 {
    width: 25%;
    float: left;
}
.col-1-5 {
    width: 20%;
    float: left;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}

.site-header {
    background: $color-purple-dark;
    height: 86px;
}
.site-logo {
    width: 200px;
    float: left;
    padding-top: 14px;
    img {
        max-width: 100%;
    }
}
.site-nav {
    float: right;
    text-align: right;
    text-transform: uppercase;
    padding-top: 20px;
    li {
        display: inline-block;
        a {
            color: #fff;
        }
        a:hover {
            color: $color-teal;
        }
    }
    .site-nav-active a {
        color: $color-teal;
    }
}
.site-nav-small {
    font-size: 12px;
    font-weight: 300;
    li {
        margin-left: 20px;
        &:first-child {
            margin-left: 0;
        }
    }
}
.site-nav-main {
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    li {
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
    }
}

.home-hero {
    min-height: 100px;
    background: url('../img/skola.jpg') no-repeat center center;
    background-size: cover;
}
.home-hero-inside {
    min-height: 100px;
    background-color: rgba(45,26,67,.9);
    padding: 34px 0;
}
.home-latest-news {
    width: 68%;
    float: left;
    padding-right: 25px;
    color: #fff;
}
.hl-subtitle {
    font-family: $font-roboto-slab;
    color: $color-teal;
    font-weight: 300;
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding-bottom: 7px;
    font-size: 18px;
}
.hl-date {
    font-size: 14px;
    font-weight: 400;
    font-family: $font-roboto-slab;
    margin-top: 10px;
    display: inline-block;
}
.hl-title {
    font-family: $font-roboto-slab;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 14px;
    a {
        color: #fff;
        &:hover {
            color: $color-teal;
        }
    }
}
.hl-text, .home-latest-news p {
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 20px;
}

.btn-white {
    height: 30px;
    background: #fff;
    color: #1c102a;
    display: inline-block;
    border-radius: 15px;
    line-height: 30px;
    padding: 0 14px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: $font-open-sans;
    &:hover {
        background-color: $color-teal;
    }
    i {
        font-style: normal;
        position: relative;
        top: -1px;
        margin-left: 2px;
    }
}

.btn-default {
    height: 30px;
    background-color: $color-purple;
    border: 1px solid $color-purple;
    color: #fff;
    display: inline-block;
    border-radius: 15px;
    line-height: 28px;
    padding: 0 14px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $font-open-sans;
    &:hover {
        background-color: transparent;
        color: $color-purple;
    }
    i {
        font-style: normal;
        position: relative;
        top: -1px;
        margin-left: 2px;
    }
}
.btn-reverse {
    i {
        margin-left: 0;
        margin-right: 2px;
    }
}

.home-bilingual {
    float: right;
    width: 32%;
    font-family: $font-roboto-slab;
    background: rgba(28,16,42,.7);
    text-align: center;
    padding-bottom: 20px;
    h2 {
        background: #1c102a;
        color: $color-teal;
        font-size: 16px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.home-flags {
    padding: 20px 0;
    text-align: center;
    a {
        display: inline-block;
        margin-left: 40px;
        &:first-child {
            margin-left: 0;
        }
    }
}
.bl-titles {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 1.5;
}
.site-sidebar {
    width: 220px;
    float: left;
}
.site-content {
    margin-left: 240px;
}
.home-content {
    margin-top: 20px;
}

.activity-sidebar {
    border: 1px solid $color-purple-dark;
    font-family: $font-roboto-slab;
    text-align: center;
    padding-bottom: 20px;
    h3 {
        height: 40px;
        line-height: 40px;
        font-weight: 500;
        font-size: 13px;
        text-align: center;
        background: $color-purple-dark;
        text-transform: uppercase;
        color: #fff;
    }
    ul {
        padding: 0 0 10px 10px;
        position: relative;
        top: -5px;
        text-align: left;
    }
    li a {
        color: #211431;
        font-size: 16px;
        font-weight: 300;
        i {
            font-family: $font-open-sans;
        }
        small {
            color: #6f5f83;
            font-size: 12px;
            display: block;
        }
        &:hover {
            span {
                text-decoration: underline;
            }
        }
    }
    li {
        margin-top: 15px;
    }
}
.home-vision {
    background: transparent url('../img/open-book.png') no-repeat right top;
    color: #35254a;
    h2 {
        font-size: 32px;
        font-weight: 200;
        text-align: center;
        font-family: $font-roboto-slab;
        position: relative;
        margin-bottom: 35px;
        &:after {
            content: "";
            display: block;
            width: 50px;
            height: 1px;
            position: absolute;
            top: 130%;
            left: 50%;
            margin-left: -25px;
            background: #35254a;
        }
    }
    p {
        font-size: 14px;
        line-height: 1.71;
        margin-bottom: 15px;
    }
}

.feat-links-home {
    margin-top: 30px;
    font-family: $font-roboto-slab;
    color: #35254a;
    font-weight: 200;
    h3 {
        text-align: center;
        font-size: 24px;
        font-family: $font-roboto-slab;
    }
    .group {
        margin-top: 20px;
    }
    .col-1-3:first-child {
        padding-left: 10px;
        padding-right: 10px;
    }
    .col-1-3:first-child {
        padding-left: 0;
        padding-right: 10px;
    }
    .col-1-3:last-child {
        padding-left: 10px;
        padding-right: 0;
    }
    a {
        display: block;
        background: #f2fcfc;
        padding: 25px 5px;
        color: $color-purple-dark;
        text-align: center;
        &:hover {
            background: $color-purple;
            color: #fff;
        }
    }
    span {
        font-size: 14px;
        font-weight: 300;
        display: block;
        margin-top: 10px;
    }
    i {
        font-size: 36px;
    }
}
.site-pre-footer {
    min-height: 100px;
    background: #fbfbfb;
    margin-top: 30px;
    border-top: 1px solid #e8e8e8;
    padding: 12px 0 20px 0;
}
.footer-nav {
    ul {
        float: left;
        margin-left: 40px;
        font-size: 12px;
        li:first-child {
            font-size: 15px;
            font-weight: 600;
            padding-bottom: 2px;
        }
    }
    ul:first-child {
        font-size: 15px;
        font-weight: 600;
        margin-left: 0;
        li:first-child {
            padding-bottom: 0;
        }
    }
    li {
        margin-top: 4px;
    }
    a {
        color: #35254a;
        &:hover {
            text-decoration: underline;
        }
    }
}

.site-footer {
    min-height: 110px;
    background: #f7f7f7;
    border-top: 1px solid #e8e8e8;
    padding: 16px 0 20px 0;
}
.footer-meta {
    text-transform: uppercase;
    color: $color-purple-dark;
    float: left;
}
.footer-meta-info {
    font-size: 12px;
    line-height: 1.8;
    a {
        color: $color-purple-dark;
        &:hover {
            text-decoration: underline;
        }
    }
}
.footer-social {
    font-size: 28px;
    padding-top: 4px;
    a {
        color: $color-purple;
        margin-right: 5px;
        &:hover {
            color: $color-purple-dark;
        }
    }
}
.footer-friends {
    float: right;
    text-align: right;
    padding-top: 10px;
    a {
        margin-left: 15px;
        &:hover {
            opacity: .6;
        }
    }
}
