.inside-sidebar {
    min-height: 50px;
    background: $color-light;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.contact-sidebar {
    text-align: left;
    font-size: 13px;
    padding: 15px;
    background: $color-purple-dark;
    color: #fff;
    min-height: 200px;
    span {
        display: block;
        line-height: 1.4;
        margin-bottom: 8px;
        > a {
            color: $color-teal;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    hr {
        border-color: $color-teal;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.inside-content {
    margin-top: 20px;
    min-height: 500px;
}
.inside-cats {
    text-align: left;
    padding: 16px 10px 20px 20px;
    > li {
        margin-top: 15px;
        position: relative;
        line-height: 1.3;
        &:hover {
            &:before {
                content: "";
                height: 100%;
                width: 2px;
                background-color: $color-purple-dark;
                position: absolute;
                left: -10px;
            }
        }
        small {
            font-size: 10px;
            display: block;
        }
        span {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
        }
    }
    > li:first-child {
        margin-top: 0;
    }
    > li.ic-selected {
        font-weight: 600;
        &:before {
            content: "";
            height: 100%;
            width: 2px;
            background-color: $color-purple-dark;
            position: absolute;
            left: -10px;
        }
    }
    a {
        color: $color-purple-dark;
    }
    > li > ul {
        padding-left: 10px;
        padding-bottom: 4px;
        font-size: 12px;
        font-weight: 400;
        li {
            margin-top: 8px;
        }
        li.ic-sub-selected {
            font-weight: 600;
        }
    }
}

.site-subheader {
    height: 46px;
    border-top: 1px solid rgba(255,255,255,.08);
    background: #35254a;
    color: #fff;
}

.breadcrumbs {
    float: left;
    padding-top: 8px;
    li {
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        a {
            color: #938b9e;
            &:hover {
                color: #fff;
            }
        }
        &:after {
            content: "\e607";
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #938b9e;
            font-size: 14px;
            position: relative;
            margin-left: 2px;
            top: 2px;
        }
    }
    li:first-child {
        a {
            font-size: 16px;
            position: relative;
            top: 2px;
        }
    }
    li:last-child {
        &:after {
            display: none;
        }
    }
}

.subheader-social {
    float: right;
    padding-top: 6px;
    > div {
        display: inline-block;
        &:first-child {
            position: relative;
            top: 5px;
            margin-right: 5px;
        }
    }
}

.inside-article {
    > .fancybox img {
        transition: all .15s ease-in-out;
    }
    > .fancybox:hover img {
        transform: scale(1.05);
    }
    > h1 {
        font-size: 32px;
        color: $color-purple-dark;
        line-height: 1;
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 10px;
        font-family: $font-roboto-slab;
        margin-bottom: 15px;
        > a {
            font-size: 12px;
            font-weight: 500;
            padding: 4px;
            border: 1px solid $color-purple;
            color: #fff;
            background: $color-purple;
            border-radius: 4px;
            font-family: $font-open-sans;
            text-transform: uppercase;
            float: right;
            display: block;
            position: relative;
            top: 8px;
            &:hover {
                background: #fff;
                color: $color-purple;
            }
        }
    }
    > p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    > h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    > h3 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    > ul {
        font-size: 14px;
        li {
            margin-bottom: 5px;
            &:before {
                content: "\e607";
                font-family: 'icomoon';
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: #938b9e;
                font-size: 14px;
                position: relative;
                margin-left: 2px;
                top: 2px;
            }
        }
    }
    > ol[type="a"] {
        font-size: 14px;
        margin-bottom: 10px;
                    list-style-type: lower-alpha;
                    margin-left: 15px;
        li  {
            margin-bottom: 5px;
            margin-left: 15px;
        }
    }
    > blockquote {
        position: relative;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 300;
        padding-right: 20px;
        margin-bottom: 10px;
        &:before {
            content: '\201C';
            font-family: Georgia, serif;
            position: absolute;
            top: -32px;
            left: -22px;
            color: darken(#fff, 6%);
            font-size: 80px;
            z-index: -1;
        }
        span {
            display: block;
            font-style: italic;
            font-size: 12px;
            font-weight: 400;
            margin-top: 5px;
            text-align: right;
        }
        > p {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 8px;
        }
    }
}
.article-date {
    float: right;
    font-size: 14px;
    font-family: $font-open-sans;
    position: relative;
    top: 14px;
}
.feat-links-aside-title {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.feat-links-aside {
    li {
        border-top: 1px solid #ece8f0;
        &:first-child {
            border-top: 0;
        }
    }
    a {
        display: block;
        padding: 15px 5px;
        color: $color-purple-dark;
        text-align: center;
        &:hover {
            color: #854ac9;
        }
    }
    span {
        font-size: 14px;
        display: block;
        margin-top: 10px;
    }
    i {
        font-size: 36px;
    }
}

.caption-legend {
    height: 34px;
    line-height: 34px;
    padding-left: 6px;
    font-size: 11px;
    text-align: left;
    background-color: $color-purple-dark;
    color: #fff;
    b {
        padding-left: 10px;
    }
}
.table-default {
    caption-side: bottom;
    width: 100%;
    border-bottom: 3px #eee solid;
    border-collapse: collapse;
    font-size:14px;
    margin-bottom: 20px;
    thead th {
        background: $color-purple-dark;
        color: #fff;
        border-right: 1px solid #fff;
        padding: 10px 5px;
    }
    thead th:last-child {
        border-right: none;
    }
    tbody th {
        width:10%;
    }
    tbody tr:nth-child(even) {
        background:#eee;
    }
    tbody tr:nth-child(even) th {
        background:#ddd;
    }
    tbody tr:hover {
        background:#F3F5BB;
    }
    tbody tr td {
        padding: 10px;
    }
    td.table-center {
        text-align: center;
    }
    td.table-hour {
        font-weight: 600;
        width: 10%;
    }
    .td-half {
        width: 50%;
    }
}


/* map stuff */

.location-cont {
    position: relative;
    margin: 20px 0 20px 0;
    height: 400px;
}
.location-cont #map {
    height: 100%;
}
#map {
    width: 100%;
    height: 200px;
    background: gray;
}
.map {
    border: 10px solid #fff;
}




.gallery {
    h3 {
        font-family: $font-roboto-slab;
        font-weight: 500;
        font-size: 24px;
        color: $color-purple-dark;
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
.gallery-list {
    margin-bottom: 20px;
    li {
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        width: 25%;
        margin-bottom: 10px;
        a {
            display: block;
            border: 1px solid lighten($color-purple, 50%);
            padding: 5px;
            transition: all .15s ease-in-out;
            &:hover {
                border: 1px solid $color-purple-dark;
                background: $color-purple-dark;
                transform: scale(1.05);
            }
            img {
                max-width: 100%;
            }
        }
    }
}





.acc-container {
    width:100%;
    overflow:hidden;
}

.acc-btn {
    width:100%;
    margin: 0 auto;
    cursor: pointer;
    background: $color-light;
    color: $color-purple-dark;
    border-bottom: 1px solid darken($color-light, 5%);
    h3 {
        padding: 10px 40px 10px 15px;
        position: relative;
        font-weight: 300;
        &:after {
            content: "+";
            background-color: yellow;
            font-weight: 600;
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            border-radius: 50%;
            background: #fff;
            color: $color-purple;
            top: 0;
            right: 15px;
            top: 50%;
            margin-top: -10px;
            padding-left: 1px;
        }
        &:hover {
            background: darken($color-light, 5%);
        }
    }
    h3.acc-selected {
        background: darken($color-light, 5%);
        &:after {
            content: "\2013";
            line-height: 18px;
        }
    }
}

.acc-content {
    height: 0px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.acc-content-inner {
    padding: 10px 0;
}

.open {
    height: auto;
}

.people-list {
    font-size: 14px;
    li {
        margin-bottom: 5px;
        font-weight: 100;
        b {
            font-weight: 500;
            font-style: normal;
        }
        &:before {
            content: "\e607";
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #938b9e;
            font-size: 14px;
            position: relative;
            margin-left: 2px;
            top: 2px;
        }
    }
}

.img-top-left {
    float: left;
    max-width: 180px;
    max-height: 180px;
    margin: 0 20px 10px 0;
}
.acc-content-inner .gallery-list {
    margin-left: 15px;
}

.section-title {
    font-size: 32px;
    color: $color-purple-dark;
    line-height: 1;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
    font-family: $font-roboto-slab;
    margin-bottom: 15px;
}

.all-news-item {
    h3 {
        font-size: 24px;
        font-weight: 400;
        font-family: $font-roboto-slab;
        a {
            color: $color-purple;
            &:hover {
                color: $color-purple-dark;
            }
        }
    }
    p {
        font-size: 15px;
        line-height: 1.5;
    }
    .btn-default {
        margin-top: 10px;
    }
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

.pagination {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    li {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-left: 2px;
        line-height: 24px;
        text-align: center;
        font-weight: 300;
        font-size: 12px;
        &:first-child {
            margin-left: 0;
        }
        a {
            display: block;
            width: 26px;
            height: 26px;
            color: $color-purple;
            border-radius: 2px;
            border: 1px solid $color-purple;
            &:hover {
                background-color: $color-purple;
                color: #fff;
            }
        }
        &.page-selected a {
            border-color: $color-purple;
            background: $color-purple;
            color: #fff;
            &:hover {
                border-color: $color-purple;
                background: $color-purple;
                color: #fff;
            }
        }
        .icon {
            font-size: 16px;
            top: 2px;
        }
    }
}

.contact-form {
    margin-top: 20px;
    > div {
        margin-bottom: 15px;
    }
    input {
        width: 400px;
        padding: 5px;
        border: 1px solid $color-purple;
        font-size: 14px;
        font-family: $font-open-sans;
    }
    label {
        width: 130px;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
    }
    textarea {
        width: 400px;
        padding: 5px;
        border: 1px solid $color-purple;
        font-size: 14px;
        font-family: $font-open-sans;
        min-height: 80px;
    }
    .btn-default {
        display: inline-block;
        margin-left: 130px;
    }
}

.table-subjects {
    thead th {
        vertical-align: middle;
    }
    tr.table-subheader td {
        background: $color-purple;
        color: #fff;
    }
    tr td {
        text-align: center;
        vertical-align: middle;
    }
    tr td:first-child {
        text-align: left;
    }
}


.site-content-b, .site-sitebar-b {
    margin-top: -20px;
}

.people {
    h4 {
        font-family: $font-roboto-slab;
        font-size: 18px;
        line-height: 1;
        display: block;
        margin-top: 8px;
    }
    b {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 1;
        display: block;
        margin-top: 4px;
        opacity: .6;
    }
    a {
        color: $color-purple;
        font-size: 10px;
        text-transform: uppercase;
        display: block;
        line-height: 1;
        margin-top: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
    .col-1-3 {
        padding-right: 20px;
        margin-bottom: 20px;
    }
}
.people-img {
    height: 310px;
    overflow: hidden;
    img {
        max-height: 100%;
    }
}